<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         body {
            background-color: antiquewhite;
         }
         .links {
            display: inline;
         }
    </style>
</head>
<body>
    <p>Home</p>
    <nav class="links">
    <a href="/pag2"> pagina2</a>
    <a href="/pag3"> pagina3</a>
    <a href="/pag4"> pagina4</a>
    </nav>
</body>
</html>